@import url('./variables.css');

body {
	color: var(--black-color);
	font-weight: 500;
	font-family: 'Kanit', sans-serif;
}

h1 {
	font-size: 26px;
	font-weight: 500;
}

.container {
	max-width: 750px;
	margin-inline: auto;
}

/* * Head */
.head {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 18px;
	margin-top: 40px;
}

.header {
	width: 100%;
	display: flex;
	column-gap: 16px;
	height: 38px;
}

.input-field {
	flex-grow: 1;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	padding-left: 16px;
	color: var(--purple-color);
	border: 1px solid var(--purple-color);
	border-radius: var(--border-radius);
	position: relative;
}

.input-field {
	padding-right: 35px;
	background: url('../icons/search.svg') no-repeat right 16px center;
	background-size: 21px;
}

.input-field::placeholder {
	color: #c3c1e5;
}

.input-field:hover {
	box-shadow: 0px 0px 4px 0px var(--purple-color);
}

.input-field:focus-visible,
.change-theme-btn:focus-visible {
	outline: 2px solid rgb(108 99 255 / 0.4);
}

.select {
	position: relative;
	min-width: 100px;
	transition-duration: 0.3s;
	border-radius: 7px;
}

.select:focus {
	outline: 2px solid var(--purple-color);
}

.select:focus-visible {
	outline: 2px solid rgb(108 99 255 / 0.4);
	border-radius: var(--border-radius);
}

.select.is-active .select__body {
	display: block;
}

.select__header {
	height: 38px;
	width: 100%;
	display: flex;
	column-gap: 10px;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	color: var(--white-color);
	border-radius: var(--border-radius);
	background-color: var(--purple-color);
	transition-duration: 0.3s;
	cursor: pointer;
}

.select__header:hover {
	background-color: var(--dark-purple-color);
	box-shadow: 0px 0px 4px 0px var(--purple-color);
}

.select__current {
	font-size: 18px;
	padding-inline: 10px;
}

.select__icon {
	display: flex;
	position: relative;
	right: 10px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.select__icon svg {
	width: 10px;
	transition: transform 0.3s ease;
}

.select.is-active .select__icon svg {
	transform: rotate(180deg);
}

.select__body {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	color: var(--purple-color);
	background-color: var(--white-color);
	border: 2px solid var(--purple-color);
	border-radius: var(--border-radius);
	z-index: 1;
}

.select__item {
	width: 100%;
	padding: 8px;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
}

.select__item:hover {
	background-color: rgb(108 99 255 / 0.2);
}

.change-theme-btn {
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	background-color: var(--purple-color);
	border-radius: var(--border-radius);
	border: none;
}

.change-theme-btn svg {
	fill: currentColor;
}

.change-theme-btn:hover {
	background-color: var(--dark-purple-color);
	box-shadow: 0px 0px 4px 0px var(--purple-color);
}

/* * Body */
.body {
	position: relative;
	height: 575px;
}

.list {
	width: 520px;
	margin-inline: auto;
}

.item {
	display: flex;
	justify-content: space-between;
	padding-block: 17px;
}

.item:first-child {
	padding-top: 30px;
}

.item:not(:last-child) {
	border-bottom: 1px solid rgb(108 99 255 / 0.5);
}

.actions {
	display: flex;
}

.checkbox-item {
	display: flex;
	align-items: center;
	column-gap: 17px;
	max-width: 465px;
}

.checkbox-input {
	margin: 0;
	width: 26px;
	height: 26px;
	border: 1px solid var(--purple-color);
	border-radius: 2px;
	transition-duration: 0.3s;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
}

.checkbox-input:checked {
	border-color: var(--purple-color);
	background: var(--purple-color) url('../icons/check.svg') center/14px
		no-repeat;
}

.checkbox-input:active {
	filter: brightness(90%);
}

.checkbox-input:hover:not(:disabled) {
	border-color: var(--purple-color);
}

.checkbox-input:focus {
	border-color: var(--purple-color);
	box-shadow: 0 0 0 0.25rem rgb(108 99 255 / 0.2);
	outline: none;
}

.checkbox-input:disabled {
	filter: none;
	opacity: 0.5;
	cursor: not-allowed;
}

.checkbox-input:disabled ~ .checkbox-label {
	opacity: 0.5;
	cursor: not-allowed;
}

.checkbox-label {
	font-size: 20px;
	display: inline-block;
	max-width: 420px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.checkbox-input:checked + .checkbox-label {
	font-weight: 400;
	color: var(--gray-op-color);
	text-decoration: line-through;
}

.actions {
	display: flex;
	column-gap: 10px;
	align-items: center;
	color: var(--gray-color);
}

.edit-btn,
.delete-btn {
	width: 18px;
	height: 18px;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.3s;
}

.edit-btn:hover {
	color: var(--purple-color);
}

.delete-btn:hover {
	color: var(--red-color);
}

.add-btn {
	position: absolute;
	bottom: 32px;
	right: 8px;
}

.add-btn svg {
	border-radius: 50%;
	transition-duration: 0.3s;
}

.add-btn svg:hover {
	box-shadow: 0px 0px 4px 0px var(--purple-color);
}
